Repository navikt/k9-abakus, pull requests merged in 2024-08, with the labels that each got.

#127 Flytter request til kontrakter og fjerner utgått aktørid fra abacsjekk
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/ByttAktørRequest.java
  web/src/main/java/no/nav/k9/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
  web/src/test/resources/application-vtp.properties
Labels: web, kontrakt

#128 Satt opp maven enforcer, og setter konsistent versjon av avhengigheter
  pom.xml
  web/pom.xml
Labels: pom

#133 Opentelemetry span på prosesstasker
  domenetjenester/iay/src/main/java/no/nav/k9/abakus/domene/iay/inntektsmelding/ForvaltningOppdaterKanalReferanseTask.java
  domenetjenester/iay/src/main/java/no/nav/k9/abakus/registerdata/RegisterdataInnhentingTask.java
  domenetjenester/iay/src/main/java/no/nav/k9/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/kobling/src/main/java/no/nav/k9/abakus/kobling/KoblingTask.java
  domenetjenester/vedtak/src/main/java/no/nav/k9/abakus/vedtak/LagreVedtakTask.java
  pom.xml
  prosesstask/pom.xml
  prosesstask/src/main/java/no/nav/abakus/prosesstask/batch/CleanNextBucketBatchTask.java
  prosesstask/src/main/java/no/nav/abakus/prosesstask/batch/RekjørFeiledeTasksBatchTask.java
Labels: pom

#139 Fjerner logikk for uthenting av refusjonskravdatoer
  domenetjenester/iay/src/main/java/no/nav/k9/abakus/iay/tjeneste/InntektsmeldingerRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/k9/abakus/iay/tjeneste/dto/iay/MapInntektsmeldinger.java
  domenetjenester/iay/src/test/java/no/nav/k9/abakus/iay/tjeneste/dto/iay/MapInntektsmeldingerTest.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/inntektsmelding/v1/RefusjonskravDatoDto.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/inntektsmelding/v1/RefusjonskravDatoerDto.java
Labels: kontrakt
