Repository navikt/k9-abakus, pull requests merged in 2024-03, with the labels that each got.

#39 Bruk POST mot alle infotrygdtjenester
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/SpøkelseKlient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/felles/InfotrygdGrunnlagAggregator.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/felles/PersonRequest.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/ps/InfotrygdPSGrunnlag.java
  pom.xml
Labels: pom

#45 Riktig method ved eksterndeling
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

#55 Går tilbake til å bruke k9 abac
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/ArbeidsforholdRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/InntektsmeldingerRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningV2RestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/RegisterdataRestTjeneste.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbakusBeskyttetRessursAttributt.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/PdpRequestBuilderImpl.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/k9DataKeys.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
  web/src/main/resources/application.properties
Labels: web

#64 Setter opp swagger
  pom.xml
  web/src/main/resources/swagger/index.html
  web/src/main/resources/swagger/local-swagger.css
  web/src/main/resources/swagger/local-swagger.js
Labels: pom

#80 JaxRs authfilter isf JA-spi
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/AuthenticationFilter.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/EksternApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/InternalApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/main/resources/WEB-INF/web.xml
Labels: web, pom
